/* */
/*@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
*/
@font-face {
  font-family: "swifty_fontello";
  src: url("fonts/fontello.eot?75050836");
  src: url("fonts/fontello.eot?75050836#iefix") format("embedded-opentype"),
    url("fonts/fontello.woff?75050836") format("woff"),
    url("fonts/fontello.ttf?75050836") format("truetype"),
    url("fonts/fontello.svg?75050836#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="sbicn-"]:before,
[class*=" sbicn-"]:before {
  font-family: "swifty_fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sbicn-facebook:before {
  content: "\e804";
}
.sbicn-instagram:before {
  content: "\e800";
}
.sbicn-pinterest:before {
  content: "\e806";
}
.sbicn-linkedin:before {
  content: "\e807";
}
.sbicn-twitter:before {
  content: "\e808";
}
.sbicn-comment:before {
  content: "\e809";
}
.sbicn-redditt:before {
  content: "\e810";
}
.sbicn-comment-alt:before {
  content: "\e80a";
}
.sbicn-comment-1:before {
  content: "\e80b";
}
.sbicn-left-open-1:before {
  content: "\e80c";
}
.sbicn-right-open-1:before {
  content: "\e80d";
}
body.single {
  margin-bottom: 46px !important;
}
#ssb_display_main_wrapper {
  height: 46px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background: #fff;
  border-top: 1px solid #ddd;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  color: #000;
}
#ssb_display_main_wrapper #sb_main_bar {
  background-color: #fff;
  height: 46px;
  border-bottom: 1px solid #ddd;
}
.sbprogress-container {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
}
.sbprogress-bar {
  width: 0%;
  display: block;
  height: inherit;
}
/* Category and Title */
.sb_text-size {
  float: left;
  line-height: 46px;
  text-align: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  width: 250px;
}
.sb_text-size a,
.sb_text-size span {
  font: 15px/46px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #fff;
  padding: 0 15px;
  margin: 0;
  transition: all 0.2s;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s;
}
.sb_text-size a:visited {
  color: #fff;
}
.sb_text-size a:hover {
  text-decoration: none;
  color: #fff;
}
.sb_post-data {
  font: 15px/46px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 20px;
  float: left;
}
.sb_post-data h2 {
  font: 17px/46px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
  float: left;
  color: #000 !important;
}
.sb_post-data .sb_author {
  margin-left: 10px;
}
.sb_post-data .sb_author:before {
  content: "-";
  margin-right: 7px;
}
.sb_ttr {
  margin-left: -3px;
}
.sb_ttr:before {
  content: "\00B7";
  margin: 0 10px;
  font-size: 28px;
  vertical-align: bottom;
}
/* Prev/Next Posts */
.prev-next-ct {
  float: right;
}
.prev-next-ct > a {
  width: 46px;
  height: 46px;
  line-height: 46px;
  display: block;
  float: right;
  text-align: center;
  border-left: 1px solid #ddd;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.prev-next-ct > a:hover {
  background-color: #f3f3f3;
}
.prev-next-ct .sb_next_post {
  position: absolute;
  top: 46px;
  right: 0;
  height: 155px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  text-align: center;
  z-index: -1;
}
.prev-next-ct .sb_next_post > div {
  float: left;
  height: 155px;
}
.prev-next-ct img {
  display: block;
  max-height: 153px;
}
.prev-next-ct .next_info {
  display: table;
  height: 155px;
  width: 205px;
  padding: 0px;
}
.prev-next-ct .next_info span.sb_title {
  font: 17px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  display: table-cell;
  vertical-align: middle;
  padding: 25px;
}
.prev-next-ct .next_info span.sb_category {
  font: 10px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 3px 10px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-weight: bold;
}
.prev-next-ct .next_info span.sb_tcategory {
  display: block;
}
/* Comments */
.sb_actions {
  float: right;
  margin-right: 10px;
}
.sb_actions a,
.sb_actions a:visited {
  font-size: 19px;
  line-height: 46px;
  color: #aaa;
  padding: 0 10px;
  margin: 0;
  display: inline-block;
}
.sb_actions a:hover {
  color: #666;
  text-decoration: none;
}
.sb_actions > .sb_comment {
  font-size: 18px;
}
.sb_actions > .sb_comment i {
  margin-left: 5px;
  font-size: 19px;
}
.sb_comment {
  color: #000 !important;
}
/* Share */
#ssb_display_main_wrapper .ssb_share {
  float: right;
  margin: 0;
  padding: 7px 20px;
  border-left: 1px solid #ddd;
}
.ssb_share li {
  float: left;
  margin: 0 5px !important;
  list-style: none !important;
}
#footer #ssb_display_main_wrapper li a {
  padding: 0;
  border-right: none;
}
.ssb_share li a {
  position: relative;
  font: 15px/34px "Arial", sans-serif;
  display: block;
  height: 34px;
  width: 34px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.ssb_share.old li a {
  border-radius: 0;
}
.ssb_share li a:hover {
  opacity: 0.8;
}
.ssb_share li a span {
  z-index: 999;
  background: #444;
  color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  position: absolute;
  left: 22px;
  top: -6px;
  font-size: 9px;
  line-height: 1;
  padding: 6px 0;
  font-weight: bold;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ssb_share li a.sbsoc-tw {
  background-color: #00c3f3;
}
.ssb_share li a.sbsoc-fb {
  background-color: #2d609b;
}
.ssb_share li a.sbsoc-instagram {
  background-color: #eb4026;
}
.ssb_share li a.sbsoc-reddit {
  background-color: #ca212a;
}
.ssb_share li a.sbsoc-linked,
.ssb_share li a.linkedin {
  background-color: #0074a1;
}
.ssb_share li a.sbsoc-pint {
  background-color: #ca212a;
}
.ssb_share li a.sbsoc-whatsapp {
  background-color: #25d366;
}
.ssb_share li a.sbsoc-stumbleupon {
  background-color: #f74425;
}
.ssb_share li a.sbsoc-digg {
  background-color: #888;
}
/*.fa-whatsapp:after {
     font-family: "Font Awesome 5 Brands";
     content: "\f232";
     font-weight: 400;
}
 .fa-whatsapp {
     color:#fff;
     background: linear-gradient(#25d366,#25d366)10px 84%/15px 15px no-repeat, radial-gradient(#25d366 59%,transparent 0);
}
*/
.ssb_share li a i {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  border-bottom-left-radius: 0;
}
.ssb_share.old li a i {
  border-radius: 0;
}
.ssb_share.old li a i:after {
  display: none;
}
.ssb_share li a i:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -20px;
  left: 39%;
  right: -6px;
  /*background: rgba(0,0,0,.1);
    */
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Colors */
/* Default blue */
#ssb_display_main_wrapper.blue .prev-next-ct > a {
  color: #3498db;
}
#ssb_display_main_wrapper.blue .sbprogress-bar,
#ssb_display_main_wrapper.blue .sb_text-size a:hover {
  background-color: #27ae60;
}
#ssb_display_main_wrapper.blue .sb_text-size,
#ssb_display_main_wrapper.blue .sb_text-size a,
#ssb_display_main_wrapper.blue .sb_text-size span,
#ssb_display_main_wrapper.blue .prev-next-ct .next_info span.sb_category {
  background-color: #3498db;
}
#ssb_display_main_wrapper.blue .sb_text-size a:visited,
#ssb_display_main_wrapper.blue .sb_text-size a,
#ssb_display_main_wrapper.blue .sb_text-size span,
#ssb_display_main_wrapper.blue .prev-next-ct .next_info span.sb_category {
  color: #fff;
}
/*#ssb_display_main_wrapper.default .sbprogress-bar, #ssb_display_main_wrapper.default .sb_text-size a:hover {
     background-color: #3498db;
}
 #ssb_display_main_wrapper.default .sb_text-size a, #ssb_display_main_wrapper.default .sb_text-size span, #ssb_display_main_wrapper.default .prev-next-ct .next_info span.sb_category {
     background-color: #0074a1;
}
 #ssb_display_main_wrapper.default .prev-next-ct > a {
     color: #3498db;
}
*/
/* Brown */
#ssb_display_main_wrapper.brown .prev-next-ct > a {
  color: #f4a460;
}
#ssb_display_main_wrapper.brown .sbprogress-bar,
#ssb_display_main_wrapper.brown .sb_text-size a:hover {
  background-color: #f4a460;
}
#ssb_display_main_wrapper.brown .sb_text-size,
#ssb_display_main_wrapper.brown .sb_text-size a,
#ssb_display_main_wrapper.brown .sb_text-size span,
#ssb_display_main_wrapper.brown .prev-next-ct .next_info span.sb_category {
  background-color: #f4a460;
}
#ssb_display_main_wrapper.brown .sb_text-size a:visited,
#ssb_display_main_wrapper.brown .sb_text-size a,
#ssb_display_main_wrapper.brown .sb_text-size span,
#ssb_display_main_wrapper.brown .prev-next-ct .next_info span.sb_category {
  color: #fff;
}
/* Green */
#ssb_display_main_wrapper.green .prev-next-ct > a {
  color: #2ecc71;
}
#ssb_display_main_wrapper.green .sbprogress-bar,
#ssb_display_main_wrapper.green .sb_text-size a:hover {
  background-color: #2ecc71;
}
#ssb_display_main_wrapper.green .sb_text-size,
#ssb_display_main_wrapper.green .sb_text-size a,
#ssb_display_main_wrapper.green .sb_text-size span,
#ssb_display_main_wrapper.green .prev-next-ct .next_info span.sb_category {
  background-color: #2ecc71;
}
#ssb_display_main_wrapper.green .sb_text-size a:visited,
#ssb_display_main_wrapper.green .sb_text-size a,
#ssb_display_main_wrapper.green .sb_text-size span,
#ssb_display_main_wrapper.green .prev-next-ct .next_info span.sb_category {
  color: #fff;
}
/* Purple */
#ssb_display_main_wrapper.purple .prev-next-ct > a {
  color: #9b59b6;
}
#ssb_display_main_wrapper.purple .sbprogress-bar,
#ssb_display_main_wrapper.purple .sb_text-size a:hover {
  background-color: #9b59b6;
}
#ssb_display_main_wrapper.purple .sb_text-size a,
#ssb_display_main_wrapper.purple .sb_text-size span,
#ssb_display_main_wrapper.purple .prev-next-ct .next_info span.sb_category {
  background-color: #8e44ad;
}
#ssb_display_main_wrapper.purple .sb_text-size a:visited,
#ssb_display_main_wrapper.purple .sb_text-size a,
#ssb_display_main_wrapper.purple .sb_text-size span,
#ssb_display_main_wrapper.purple .prev-next-ct .next_info span.sb_category {
  color: #fff;
}
/* Orange */
#ssb_display_main_wrapper.orange .prev-next-ct > a {
  color: #e67e22;
}
#ssb_display_main_wrapper.orange .sbprogress-bar,
#ssb_display_main_wrapper.orange .sb_text-size a:hover {
  background-color: #e67e22;
}
#ssb_display_main_wrapper.orange .sb_text-size a,
#ssb_display_main_wrapper.orange .sb_text-size span,
#ssb_display_main_wrapper.orange .prev-next-ct .next_info span.sb_category {
  background-color: #e67e22;
}
#ssb_display_main_wrapper.orange .sb_text-size a:visited,
#ssb_display_main_wrapper.orange .sb_text-size a,
#ssb_display_main_wrapper.orange .sb_text-size span,
#ssb_display_main_wrapper.orange .prev-next-ct .next_info span.sb_category {
  color: #fff;
}
/* Red */
#ssb_display_main_wrapper.red .prev-next-ct > a {
  color: #e74c3c;
}
#ssb_display_main_wrapper.red .sbprogress-bar,
#ssb_display_main_wrapper.red .sb_text-size a:hover {
  background-color: #e74c3c;
}
#ssb_display_main_wrapper.red .sb_text-size a,
#ssb_display_main_wrapper.red .sb_text-size span,
#ssb_display_main_wrapper.red .prev-next-ct .next_info span.sb_category {
  background-color: #e74c3c;
}
#ssb_display_main_wrapper.red .sb_text-size a:visited,
#ssb_display_main_wrapper.red .sb_text-size a,
#ssb_display_main_wrapper.red .sb_text-size span,
#ssb_display_main_wrapper.red .prev-next-ct .next_info span.sb_category {
  color: #fff;
}
/* Yellow */
#ssb_display_main_wrapper.yellow .prev-next-ct > a {
  color: #ffff00;
}
#ssb_display_main_wrapper.yellow .sbprogress-bar,
#ssb_display_main_wrapper.yellow .sb_text-size a:hover {
  background-color: #ffff00;
}
#ssb_display_main_wrapper.yellow .sb_text-size a,
#ssb_display_main_wrapper.yellow .sb_text-size span,
#ssb_display_main_wrapper.yellow .prev-next-ct .next_info span.sb_category {
  background-color: #ffff00;
}
#ssb_display_main_wrapper.yellow .sb_text-size a:visited,
#ssb_display_main_wrapper.yellow .sb_text-size a,
#ssb_display_main_wrapper.yellow .sb_text-size span,
#ssb_display_main_wrapper.yellow .prev-next-ct .next_info span.sb_category {
  color: #fff;
}
@media (max-width: 667px) {
  .sb_post-data,
  .sb_text-size {
    display: none;
  }
  .ssb_share li.sbfacebook a {
    width: 34px;
    padding: 0;
  }
  .sb_actions {
    float: right;
    margin-right: 5px;
  }
  #ssb_display_main_wrapper .ssb_share {
    padding: 6px 10px;
  }
  .sb_next_post_image {
    display: none;
  }
}
@media (max-width: 320px) {
  .prev-next-ct > a {
    width: 32px;
  }
  .sb_actions a,
  .sb_actions a:visited {
    padding: 0;
  }
}
/* */
/* for other */
.sticky-wrapper {
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  display: inline;
}
.sticky-wrapper .stickable {
  display: none;
  text-align: center;
  background: #fff;
  padding: 15px;
}
.sticky-wrapper .stickable.stuck {
  display: block;
  line-height: 30px;
  border-bottom: 2px solid #000;
  position: fixed;
  margin: 0 auto;
  top: 0;
  text-align: center;
  width: 100%;
  background: #fff;
  opacity: 1;
  z-index: 1001;
  -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
}
.sticky-wrapper h2.title {
  font-size: 24px;
  margin: 0 20px 0 0;
  display: inline-block;
  padding: 0;
}
.sticky-wrapper .item-list {
  display: inline;
}
.sticky-wrapper .share_list {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.sticky-wrapper .share_list li {
  margin: 0 0 0 25px;
  display: inline-block;
}
.sticky-wrapper .share_list div {
  float: left;
  display: inline-block;
  width: auto;
  height: auto;
}
.sticky-wrapper .share_list div:hover {
  opacity: 0.5;
}
.sticky-wrapper .share_list .share {
  float: left;
  padding: 0;
  text-indent: -9999px;
  display: block;
  margin-right: 5px;
  height: 35px;
  width: 35px;
  overflow: hidden;
}
.sticky-wrapper .share_list .share.googlePlus {
  background: url(../icons/icons.png) -153px 0 no-repeat;
}
.sticky-wrapper .share_list .share.facebook {
  background: url(../icons/icons.png) -102px 0 no-repeat;
}
.sticky-wrapper .share_list .share.twitter {
  background: url(../icons/icons.png) 0 0 no-repeat;
}
.sticky-wrapper .share_list .share.digg {
  background: url(../icons/icons.png) -203px -101px no-repeat;
}
.sticky-wrapper .share_list .share.delicious {
  background: url(../icons/icons.png) -561px -101px no-repeat;
}
.sticky-wrapper .share_list .share.stumbleupon {
  background: url(../icons/icons.png) -255px -101px no-repeat;
}
.sticky-wrapper .share_list .share.linkedin {
  background: url(../icons/icons.png) 0 -50px no-repeat;
}
.sticky-wrapper .share_list .share.pinterest {
  background: url(../icons/icons.png) -50px 0 no-repeat;
}
.sticky-wrapper .share_list a {
  padding: 10px;
  margin: 0;
  display: inline-block;
  opacity: 1;
  background: none;
}
.sticky-wrapper .share_list .count {
  display: inline-block;
  margin-left: 10px;
  line-height: 33px;
}
.sticky-wrapper .share_list .count a {
  padding: 0;
  color: #509eba;
  text-decoration: none;
}
body.admin-menu .stuck {
  margin-top: 29px !important;
}
body.admin-menu-with-shortcuts .stuck {
  margin-top: 65px !important;
}
@media screen and (max-width: 1152px) {
  .sticky-wrapper h2.title {
    font-size: 24px;
  }
}
@media screen and (max-width: 960px) {
  .sticky-wrapper h2.title {
    font-size: 22px;
  }
}
@media screen and (max-width: 640px) {
  .sticky-wrapper h2.title {
    font-size: 20px;
  }
}
@media screen and (max-width: 440px) {
  .sticky-wrapper h2.title {
    font-size: 18px;
  }
}
/* other https://gist.github.com/tvanantwerp/6708c0bf818637bf2a50 */
a.social-link {
  display: inline;
  background-color: #aaa;
  color: #fff !important;
  text-decoration: none;
  padding: 6px 12px;
  margin: 0;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
a:hover.facebook {
  background-color: #4a66b7;
}
a:hover.twitter {
  background-color: #00acee;
}
a:hover.linkedin {
  background-color: #1b86bc;
}
a:hover.gplus {
  background-color: #dd4b38;
}
a:hover.email {
  background-color: #ff9600;
}
.fa {
  line-height: inherit !important;
}
.fa-facebook-square:before {
  padding-right: 0.5em;
  /*position: absolute;
    */
  top: 10px;
  left: 0;
  font-size: 36px;
  color: #3b5998;
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    white 20%,
    white 93%,
    transparent 93%
  );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}
.fa-envelope:before {
  /*padding-right: 5px;
     position: absolute;
    */
  top: 10px;
  left: 0;
  font-size: 22px;
  /*background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
     background-size: 55%;
     background-position: 70% 0;
     background-repeat: no-repeat;
    */
}
.curr-image-tax {
  position: absolute;
  top: 0;
  margin-left: 385px;
}
/* brown */
.sbprogress-container.blue {
  background-color: #3498db;
}
.sbprogress-container.green {
  background-color: #27ae60;
}
.sbprogress-container.brown {
  background-color: #f4a460;
}
.sbprogress-container.red {
  background-color: #c0392b;
}
.sbprogress-container.orange {
  background-color: #e67e22;
}
.sbprogress-container.purple {
  background-color: #8e44ad;
}
.sbprogress-container.yellow {
  background-color: #ffff00;
}
.ssb_share span,
#fb-share span {
  z-index: 999;
  background: #444;
  color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  position: absolute;
  right: 246px;
  top: -6px;
  font-size: 9px;
  line-height: 1;
  padding: 6px 0;
  font-weight: bold;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
