{#
/**
 * Available variables
 * - socialvariables: array of element contains social media link.
 *
 */
#}

{% if frm_node_types == bundletype %}

{% if disbarchkbox is not empty and disbarchkbox == '1' %}
<div id="ssb_display_main_wrapper" class="{{ cuscolor }}">

    <div class="sbprogress-container {{ cuscolor }}"></div>
    <div id="sb_main_bar">

      <div class="sb_text-size">
        {% if roledis != 'anonymous' %}
          <span>{{ currbodytrim }}</span>
        {% else %}
          <span></span>
        {% endif %}
      </div>

      <div class="sb_post-data">
        <h2 id="title">
          {{ currtitle }}
        </h2>
        {# {% if enable_author is not empty and enable_author == '1' %}
          <span class="sb_author">by {{ currname }}   </span>
          <span class="sb_ttr"> 5 min</span>
        {% endif %}   #}
        {% if currurlblock is not empty %}
        <div class="curr-image-tax">
           {# <img typeof="foaf:Image" src="{{ currurlblock }}" width="50" height="50">  #}
        </div>
        {% endif %}
         {% if currurlblockdis is not empty %}
        <div class="curr-image-tax">
           {# <img typeof="foaf:Image" src="{{ currurlblockdis }}" width="50" height="50">  #}
        </div>
        {% endif %}
      </div>

      {% if next or previous %}
      <div class="prev-next-ct">
          {% if next.url is not empty  %}
          <a href="{{ next.url }}"><i class="sbicn-right-open-1"></i></a>
          {% if next %}
          <div class="sb_next_post">
            <div class="sb_next_post_image">
              {# <img typeof="foaf:Image" src="{{ next.absolute_url }}" width="50" height="50" alt="{{ next.alt }}" title="{{ next.title }}"> #}
            </div>
            <div class="next_info">
              <span class="sb_title">
                <span class="sb_category">
                    next category
                </span>
                <span class="sb_tcategory">
                     {{ next.label }}
                </span>
              </span>
            </div>
            {% endif %}
          </div>
          {% endif %}

          {% if previous.url is not empty  %}
          <a href="{{ previous.url }}"><i class="sbicn-left-open-1"></i></a>
          {% if previous %}
          <div class="sb_next_post">
            <div class="sb_next_post_image">
                 {# <img typeof="foaf:Image" src="{{ previous.absolute_url }}" width="50" height="50" alt="{{ previous.alt }}" title="{{ previous.title }}">   #}
            </div>
            <div class="next_info">
              <span class="sb_title">
                <span class="sb_category">
                      previous category
                </span>
                <span class="sb_tcategory">
                    {{ previous.label }}
                </span>
              </span>
            </div>
          </div>
          {% endif %}
          {% endif %}
      </div>
      {% endif %}

      {% if enable_sharechkbox is not empty and enable_sharechkbox == '1' %}
      <ul class="ssb_share">
        {% if chkbox_fbook is not empty and chkbox_fbook == '1' %}
          <li class="sbfacebook">
            <a href="{{ fbshareurl }}" title="Share on Facebook" data-url=""  data-via="" data-title="" id="fb-share" rel="nofollow" target="_blank" class="sbsoc-fb" target="_blank">
              <i class="fa fa-facebook"></i>
              {% if dissharecountchkbox is not empty and dissharecountchkbox == '1' %}
                 <span>{{ sharefb }}</span>
              {% endif %}
            </a>
          </li>
        {% endif %}
        {% if   chkbox_twitter == '1' %}
          <li class="sbtwitter">
            <a href="{{ tweeturl }}" data-url="{{ tweeturl }}"  data-title="{{ tweeturl }}"  title="Share on Twitter" class="sbsoc-tw"  id="tweet" rel="nofollow" target="_blank" ><i class="fa fa-twitter"></i>
            </a>
        </li>
        {% endif %}
        {% if chkbox_instagram is not empty and chkbox_instagram == '1' %}
          <li class="sbinstagram">
            <a href="{{ instagramurl }}" title="Share on Instagram"  id="instagram-share"  class="sbsoc-instagram" target="_blank" data-url="{{ instagramurl }}"  data-via="{{ instagramurl }}" data-title=""><i class="fa fa-instagram"></i>
            </a>
        </li>
        {% endif %}
        {% if chkbox_reddit is not empty and chkbox_reddit == '1' %}
          <li class="sbreddit">
            <a href="{{ redditurl }}" title="Share on Reddit" class="sbsoc-reddit" target="_blank" id="reddit-share"  data-title=""><i class="fa fa-reddit"></i>
            </a>
        </li>
        {% endif %}
        {% if chkbox_linkedin is not empty and chkbox_linkedin == '1' %}
          <li class="sblinkedin">
            <a href="{{ linkedinurl }}" title="Share on Linkedin" class="sbsoc-linked" id="linkedin" rel="nofollow" target="_blank" data-url=""  data-via="" data-title=""><i class="fa fa-linkedin"></i>
          </a>
        </li>
        {% endif %}
        {% if chkbox_pinterest is not empty and chkbox_pinterest == '1' %}
          <li class="sbpinterest">
            <a href="{{ pinteresturl }}" title="Share on Pinterest" class="sbsoc-pint" target="_blank" id="pinterest-share" data-url="{{ pinteresturl }}"  data-via="" data-title=""><i class="fa fa-pinterest"></i>
            {% if dissharecountchkbox is not empty and dissharecountchkbox == '1' %}
              <span>{{ sharepinterest }} </span>
            {% endif %}
            </a>
          </li>
        {% endif %}

        {% if chkbox_stumbleupon is not empty and chkbox_stumbleupon == '1' %}
         <li class="sbstumbleupon">
            <a href="{{ stumbleuponurl }}" title="Share on StumbleUpon" class="sbsoc-stumbleupon"
            id="sbsoc-stumbleupon" rel="nofollow" target="_blank"><i class="fa fa-stumbleupon"  aria-hidden="true"></i>
             {% if dissharecountchkbox is not empty and dissharecountchkbox == '1' %}
              <span>{{ sharestumbleupon }} </span>
            {% endif %}
          </a>
        </li>
        {% endif %}
        {% if chkbox_whatsapp is not empty and chkbox_whatsapp == '1' %}
           <li class="sbwhatsapp">
              <a href="{{ whatsappurl }}" title="Share on Whatsapp" class="sbsoc-whatsapp" id="sbsoc-whatsapp" rel="nofollow" target="_blank" data-url=""  data-title=""><i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}

        {% if disable_email is not empty and disable_email == '1' %}
          <li class="sbemail">
            <a class="social-link email"  data-title="" href="{{ emailurl }}" id="email-share" title="Email to a Friend"><i class="fa fa-envelope"></i></a>
          </li>
        {% endif %}

      </ul>
      {% endif %}

      <div class="sb_actions">
        <a class="sb_comment" href="#"  title="comment count">{{ currcomment }} <i class="sbicn-comment"></i></a>
      </div>

    </div>

  </div>
 {% endif %}

{% endif %}
